ModularHell/Content/obj/DesktopGL/net8.0/Content/.mgcontent
ModularHell/Content/obj/DesktopGL/net8.0/Content/.mgstats
ModularHell/Content/obj/DesktopGL/net8.0/Content/Arm.mgcontent
ModularHell/Content/obj/DesktopGL/net8.0/Content/ball.mgcontent
ModularHell/Content/obj/DesktopGL/net8.0/Content/CharacterHead1.mgcontent
ModularHell/Content/obj/DesktopGL/net8.0/Content/CharacterLeg1.mgcontent
ModularHell/Content/obj/DesktopGL/net8.0/Content/Head.mgcontent
ModularHell/Content/obj/DesktopGL/net8.0/Content/Leg.mgcontent
ModularHell/Content/obj/DesktopGL/net8.0/Content/Torso.mgcontent
ModularHell/obj/ModularHell.csproj.nuget.dgspec.json
ModularHell/obj/ModularHell.csproj.nuget.g.props
ModularHell/obj/project.assets.json
ModularHell/obj/project.nuget.cache
ModularHell/obj/Debug/net8.0/apphost.exe
ModularHell/obj/Debug/net8.0/ModularHell.AssemblyInfoInputs.cache
ModularHell/obj/Debug/net8.0/ModularHell.assets.cache
ModularHell/obj/Debug/net8.0/ModularHell.csproj.AssemblyReference.cache
ModularHell/obj/Debug/net8.0/ModularHell.csproj.CoreCompileInputs.cache
ModularHell/obj/Debug/net8.0/ModularHell.csproj.FileListAbsolute.txt
ModularHell/obj/Debug/net8.0/ModularHell.dll
ModularHell/obj/Debug/net8.0/ModularHell.genruntimeconfig.cache
ModularHell/obj/Debug/net8.0/ModularHell.pdb
ModularHell/obj/Debug/net8.0/ModularHell.sourcelink.json
ModularHell/obj/Debug/net8.0/ref/ModularHell.dll
ModularHell/obj/Debug/net8.0/refint/ModularHell.dll
