ModularHell.sln
ModularHell/obj/Debug/net8.0/ModularHell.AssemblyInfo.cs
ModularHell/obj/Debug/net8.0/ModularHell.AssemblyInfoInputs.cache
ModularHell/obj/Debug/net8.0/ModularHell.assets.cache
ModularHell/obj/Debug/net8.0/ModularHell.csproj.AssemblyReference.cache
ModularHell/obj/Debug/net8.0/ModularHell.GeneratedMSBuildEditorConfig.editorconfig
